<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<a href="/products/detail"><button> Ir a detalle</button></a><br>
	<a href="/products"><button> Ir a productos</button></a><br>
	<img src="/images/node.jpg" width="60%">
	
</body>
</html>