<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Pagina de inicio</h1>
	<a href="/products/detail"><button> Ir a detalle</button></a><br><br>
	<a href="/products"><button> Ir a productos</button></a><br><br>
	<a href="/services/"><button>Entrar a SERVICES</button></a> <br> <br>
	<a href="/services/desing"><button>Entrar a DESING</button></a> <br>
	<img src="/images/node.jpg" style="width: 40%;">
	
</body>
</html>